body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://www.publicdomainpictures.net/pictures/10000/t2/1-1233677577eVN0.jpg);
    color: black;
    text-align: justify;
    
    

}

.container{

    height: 500px;
    width: 850px;   
    margin: auto;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;     
    background-image: url(https://www.publicdomainpictures.net/pictures/210000/t2/boat-in-caribbean-14884763094mZ.jpg);

}



.div1{
height: 200px;
width: 180px;
background-color: seashell;
position: relative;
top: 310px;
background-size: cover;
background-repeat: no-repeat;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7FQvHNwldvlE5qZeRXo0yu_qwDpgR0TS_tw&usqp=CAU);

}

.div2{
    height: 100px;
    width: 250px;
    background-color: khaki;
    position: relative;
    top: 195px;
    left: 200px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: black;
    
    
}

.div3{
    height: 50px;
    width: 200px;
    background-color: khaki;
    position: relative;
    top: 140px;
    left: 610px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: black;

}


.div4{
    height: 50px;
    width: 50px;
    background-color: khaki;
    position: relative;
    top: 85px;
    left:548px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: black;

}

.div5{
    height: 200px;
    width: 414px;
    background-color: khaki;
    position: absolute;
    top: 575px;
    left:534px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: black;

}
.div6{
    height: 200px;
    width: 414px;
    background-color: khaki;
    position: absolute;
    top: 575px;
    left:960px;
    border-style: solid;
    border-bottom-width: 2px;
    border-color: black;

}


#social-table{
    background-color: khaki;  
    height: 50px;
    width: 850px;
    margin: auto;
    font-family: sans-serif;
    margin-top: 6px;
    padding-top: 3px;
    background-clip: border-box;
    box-sizing: border-box;
    
}


#social-table{
    border-style: solid;
    border-bottom-width: 2px;
    border-color: black;
    
}


.tab button{
    background-color: deepskyblue;
    float: inline-start;
    outline-color: mediumblue;
    cursor: pointer;
    padding: 16px 16px;
    
}



    
   
    

    
